[access]
	inheritFrom = All-Projects
[project]
	description = Java programs to learn
[access "refs/*"]
	owner = group user/twinklek
[access "refs/for/refs/*"]
	read = group user/twinklek
	push = group user/twinklek
	label-Code-Review = -2..+2 group user/twinklek
	label-Verified = -1..+1 group user/twinklek
	rebase = group user/twinklek
	removeReviewer = group user/twinklek
	submit = group user/twinklek
[access "refs/heads/*"]
	read = group user/twinklek
	create = group user/twinklek
	push = +force group user/twinklek
	pushMerge = group user/twinklek
[access "refs/tags/*"]
	push = group user/twinklek
	push = +force group user/twinklek
